.button  {
    -fx-padding: 8 15 15 15;
        -fx-background-insets: 0,0 0 3 0, 0 0 4 0, 0 0 5 0;
        -fx-background-radius: 8;
        -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
        -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
        -fx-font-weight: bold;
        -fx-font-size: 1.1em;
}

.button:hover {
       -fx-background-color:
              linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
              #9d4024,
              #d86e3a,
              radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

.button:pressed {
            -fx-padding: 10 15 13 15;
            -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

